body {
    background-color: azure;
}

.img-lista {
    max-height: 150px;
}

.img-detalle {
    max-height: 300px;
}
.nav-menu {
    background-color: rgb(166, 213, 214);
    padding: 1rem;
}

.nav-menu > ul {
    list-style: none;
    display: flex;
}

.nav-menu > ul > li > a {
    text-transform: uppercase;
    margin-left: 2rem;
    text-decoration: none;
}

.marca, .modelo, .modelo-detalle  {
    font-weight: bold;
    color: rgb(17, 17, 156);
}

.modelo , .destacar{
    font-size: 1.5rem;
}

.item {
    border: 1px solid rgb(17, 17, 156);
    border-radius: 5px;
    padding: 2rem;
}

footer {
    background-color:  rgb(166, 213, 214);
    padding: 1rem 0;
    text-align: center;
}

